# Ignore all logfiles and tempfiles.
/log/*
!/log/.keep
/tmp
*.iml

## Directory-based project format:
.idea/

## File-based project format:
*.ipr
*.iws

## Plugin-specific files:

# Sublime
*.sublime-project
*.sublime-workspace

# IntelliJ
/out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

### OSX template
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

## Environment normalisation:
/node_modules

# For Node
node_modules
npm-debug.log*

# For assets
public/assets
app/assets/stylesheets/src/vendor/
app/assets/stylesheets/dist/
app/assets/iconFont/dist/
app/assets/images/dist/
app/assets/javascripts/dist/**
!app/assets/javascripts/dist/.keep
app/assets/stylesheets/src/components/icon/_icons.scss
public/**
!public/*.html
coverage
